*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.vscode
.metals
.DS_Store

distributed-sorting/target
distributed-sorting/.bsp
distributed-sorting/project/project
distributed-sorting/project/target
distributed-sorting/.bloop
distributed-sorting/project/.bloop
distributed-sorting/project/metals.sbt
